<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Politico enables citizens give their mandate to politicians running for different government offices
    while building trust in the process through transparency.">

    <meta name="Keywords" content="web design, affordable web design, proffessional Website">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Politico Website | Welcome</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<div class="wrapper">

    <body>
        <header>
            <div class="container">
                <div id="barnding">
                    <h1><span class="highlight">Politico</span> Website</h1>

                </div>
                <nav>
                    <ul>
                        <li class="current"> <a href="index.html">Home</a></li>
                        <li> <a href="politicians.html">Politicians</a></li>
                        <li> <a href="vote.html">Vote</a></li>
                        <li> <a href="results.html">Results</a></li>
                        <li> <a href="signin.html">Sign In</a></li>
                        <li> <a href="signup.html">Sign Up</a></li>
                        <li> <a href="Admin.html">Admin</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="showcase">
            <div class="container">
                <h1>A Website For the People</h1>
                <p>If we are to be a great democracy, we must all take an active role in our democracy.
                    We must do democracy, that goes far beyond simply casting your vote.
                    We must all actively champion the causes that ensure the common good.(Martin Luther King III)
                </p>
            </div>

        </section>

        <section id="boxes">
            <div class="container">
                <div class="box">
                    <img src="./img/us.png" alt="">
                    <h3>ABOUT POLITICO</h3>
                    <P>Politico enables citizens give their mandate to politicians running for different government
                        offices
                        while building trust in the process through transparency.</P>
                </div>
                <div class="box">
                    <img src="./img/contact.jpg" alt="">
                    <h3>ADDRESS</h3>
                    <P>Tel 0718525890
                        @ Email Address: info@politico.com
                    </P>
                </div>
                <div class="box">
                    <h3>READ MORE ABOUT US</h3>
                    <P>Politico enables citizens give their mandate to politicians running for different government
                        offices
                        while building trust in the process through transparency.
                    </P>
                </div>
            </div>
        </section>

</div>

<footer>
    <p>Politico Website, Copyright &copy; 2019</p>
</footer>


</body>

</html>



</body>

</html>